.DS_Store
ScriptAssemblies*
cache*
metadata*
previews*
/AssetImportState
/AssetVersioning.db
/FailedAssetImports.txt
/ScriptMapper
/assetDatabase3
/assetservercachev3
/expandedItems
/guidmapper

Library/
obj/
Temp/
UnityGenerated/
ExportedObj/
Assets/UnityVS
Builds/

Assets/UnityVS.meta

*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.DotSettings
*.bak
*.bak.meta
*.orig
*.orig.meta
*.meta

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db